<%= provide :title, @lesson.category.name %>
<div class="dn-front-group">
  <div>
    <hr>
    <div id="lesson_<%= @lesson.id %>">
      <p>
        <% if @lesson.testing? %>
          <%= render "do_test" %>
        <% else %>
          <%= render "lesson_result" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
