<% provide :title, t("categories.index") %>
<h3><%= t "categories.index" %></h3>
<% @categories.each do |category| %>
  <div>
    <table>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%= link_to t("edit"), edit_admin_category_path(category), 
            class: "btn btn-primary" %>
          <%= link_to t("delete"), admin_category_path(category),
            method: :delete, data: {confirm: t("flash.confirm")}, 
            class: "btn btn-danger" %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
