<% @categories.each do |category| %>
  <div>
    <%= category.name %>
    <%= form_for [category, category.lessons.build] do |f| %>
      <%= f.hidden_field :category_id, value: category.id %>
      <%= f.submit t("categories.create_lesson"), class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
<% paginate @categories %>
